body {
  background-color: black;
  margin: 0px;
  font-family: 'Inconsolata', monospace;

}

.title {
  height: 150px;
  width: 630px;
  margin-left: 420px;
}

.canvas-background {
  margin-left: 475px;
  right: 100px;
}

.game-title {
  height: 150px;
  background-color: black;
}

.intro-section {
  position: absolute;
  bottom: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

h2 {
  margin-left: 25px;
}

.gamebtn {
  margin: 5px;
}


#game {
  position: absolute;
  left: 475px;
  border: 1px dashed;
  margin: auto;
  display: block;
  border-color: #FFFFFF;
}